@inherits LayoutComponentBase

<PageTitle>Quote_Machine</PageTitle>
    <main>
        <article class="d-flex justify-content-center align-items-center p-0 m-0">
            @Body
        </article>
    </main>